# Игнорировать всё
*

# Но не игнорировать эти файлы и папки
!.gitignore
!main.py
!Dockerfile
!docker-compose.yml
!requirements.txt
!README.md
!tests/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать базу данных
*.db
*.sqlite