# Игнорировать всё
*

# Но не игнорировать эти файлы
!.gitignore
!main.py
!Dockerfile
!docker-compose.yml
!requirements.txt
!README.md
!Game_Alien_Invasion/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать базу данных
*.db
*.sqlite

# Игнорировать виртуальное окружение
venv/
.env